/* Override the CS pin used by the nice_view_adapter/nice_view stack.
 * Do NOT define a new nice_view_spi label or ls0xx node here.
 */
&nice_view_spi {
  cs-gpios = <&pro_micro 4 GPIO_ACTIVE_LOW>;
};
